<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270485872707-0fu1tag012dkba64kbe6vju22l9p32ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270485872707-0fu1tag012dkba64kbe6vju22l9p32ju</string>
	<key>API_KEY</key>
	<string>AIzaSyDWk8Jch1qQ8VPM86901V28a7J7scabVxA</string>
	<key>GCM_SENDER_ID</key>
	<string>270485872707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vannguyen.hitalive</string>
	<key>PROJECT_ID</key>
	<string>hita-live</string>
	<key>STORAGE_BUCKET</key>
	<string>hita-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270485872707:ios:e7284c7d7f13ead3ccb4f6</string>
</dict>
</plist>