<form nz-form [formGroup]="createCustomerForm" (ngSubmit)="submitCreateCustomer()">
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>Tên khách hàng</nz-form-label>
    <nz-form-control nzSpan="16" nzErrorTip="Vui lòng nhập tên khách hàng">
      <input nz-input formControlName="name" placeholder="Nhập tên khách hàng"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>Số điện thoại</nz-form-label>
    <nz-form-control nzSpan="16" [nzErrorTip]="phoneErrorTpl">
      <input nz-input formControlName="phoneNumber" placeholder="Nhập số điện thoại"/>
      <ng-template #phoneErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập số điện thoại</ng-container>
        <ng-container *ngIf="control.hasError('phoneError')">Số điện thoại có độ dài từ 10 đến 13 số</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div nz-row>
    <div nz-col nzSpan="24" class="text-end">
      <button nz-button nzType="default" class="mx-2" (click)="onCancelClick()">Hủy</button>
      <button nz-button nzType="primary" class="ml-2" type="submit">Xác nhận</button>
    </div>
  </div>
</form>
