<div class="row pending-table">
    <div class="col-12">
        <nz-page-header nzTitle="Tài khoản đang chờ" nzSubtitle="Hiển thị tất cả danh sách người dùng chờ xác thực tài khoản"
            class="p-0"></nz-page-header>
    </div>
    <div class="col-12">
        <nz-table #pendingTable nzBordered nzShowSizeChanger nzSize="small" nzPaginationType="small"
            nzPaginationPosition="top" [nzLoading]="isFetchData" [nzData]="pendingList">
            <thead>
                <tr>
                    <th nzAlign="center" nzWidth="30px">STT</th>
                    <th nzAlign="center" nzWidth="90px">Hình ảnh</th>
                    <th nzAlign="center" nzWidth="20%">Tên người dùng</th>
                    <th nzAlign="center">Địa chỉ</th>
                    <th nzAlign="center" nzWidth="100px">Ngày sinh</th>
                    <th nzWidth="180px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of pendingTable.data; let i = index">
                    <td nzAlign="center">{{ i + 1 }}</td>
                    <td nzAlign="center">
                        <img *ngIf="data.image" class="order-image" nzPopoverOverlayClassName="order-image-detail"
                            [src]="data.image" nz-popover [nzPopoverContent]="imageDetail">
                        <ng-template #imageDetail>
                            <img class="order-image-detail" [src]="data.image" width="200" height="200">
                        </ng-template>
                    </td>
                    <td nzAlign="left">{{ data.firstName }} {{ data.lastName }}</td>
                    <td nzAlign="left">{{ data.address }}</td>
                    <td nzAlign="center">{{ data.birthday | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <button nz-tooltip nzTooltipTitle="Từ chối" nz-button nzType="primary" nzShape="round"
                                nzSize="small" class="d-flex align-items-center" nzDanger=true (click)="onClickReject(data.uuid)">
                                <i nz-icon nzType="close" nzTheme="outline"></i>
                            </button>
                            <button nz-tooltip nzTooltipTitle="Duyệt" nz-button nzShape="round" nzSize="small"
                                class="d-flex align-items-center" (click)="onClickApproved(data.uuid)">
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="isFetchData && pendingList.length === 0">
                <tr>
                    <td colspan="6" style="height: 30vh;"></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>