<div class="sidebar-logo">
  <a href="#">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
    <h1>Hita Live ADMIN</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="primary-sider-menu">
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="file-text"></i>
    <span>
      <a routerLink="/danh-sach-cho-duyet">Danh sách chờ duyệt</a>
    </span>
  </li>
  <!-- <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="bell"></i>
    <span>
      <a routerLink="/thong-bao">Thông báo</a>
    </span>
  </li> -->
</ul>
