<div class="sidebar-logo">
  <a href="#">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
    <h1>Hita Live ADMIN</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="primary-sider-menu">
  <!-- <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="dashboard"></i>
    <span>
      <a routerLink="/bang-dieu-khien">Bảng điều khiển</a>
    </span>
  </li> -->
  <li nz-submenu nzTitle="Quản lý đơn hàng" nzIcon="snippets" nzOpen>
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/don-hang/tao-don-hang">Tạo đơn hàng</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/don-hang/dang-cho">Đơn đang chờ</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/don-hang/hoan-thanh">Đơn hoàn thành</a>
      </li>
    </ul>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="file-text"></i>
    <span>
      <a routerLink="/danh-sach-cho-duyet">Danh sách chờ duyệt</a>
    </span>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="bell"></i>
    <span>
      <a routerLink="/thong-bao">Thông báo</a>
    </span>
  </li>
</ul>
