.auth-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e5e6;
}

.login-container {
  width: 40vw;
  padding: 2rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;

  .login-title {
    h1 {
      color: #000;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1rem;
      color: #73818f;
      margin: 0;
      font-weight: normal;
    }
  }
}
